
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
    body {

        #container {

            >h5 {

            }

            .display-container {

                #display-main {

                    #display-upper {

                    }
                    
                    #display-result {

                    }
                }
            }

            #container-button {

                .small-button {

                }

                .button {

                }
            }
        }
    }
}